# EditorConfig helps maintain consistent coding styles across editors and IDEs
# More details at https://editorconfig.org

# Root editorconfig file
root = true

# Apply to all files
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# JSON files - noticed in schema.json using 4 spaces
[*.json]
indent_style = space
indent_size = 4

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false

# TypeScript files
[*.{ts,tsx}]
indent_style = space
indent_size = 2

# Go files
[*.go]
indent_style = tab
tab_width = 4

# Python files
[*.py]
indent_size = 4
max_line_length = 100

# Java files
[*.java]
indent_size = 4

# JavaScript files
[*.{js,jsx}]
indent_style = space
indent_size = 2

# Ignore venv folders
[**/venv/**]
indent_style = unset
indent_size = unset
