.pulumi
**/bin/
**/obj/
**/node_modules/
vendor/
**/Pulumi.*.yaml
**/yarn-error.log
yarn.lock
package-lock.json
.idea/
**/version.txt
**/dist
nuget/
.vscode/
**/*.bak
.DS_Store

ci-scripts/
*.tar.gz
**/*.out
**/out.txt

sdk/dotnet/version.txt
sdk/java/.gradle
sdk/java/build/
sdk/java/build.gradle
sdk/python/venv
